* {
  box-sizing: border-box;
}

body {
  position: relative;
  z-index: -1;
  background: black;
}

.keyboard-container {
  position: relative;
  z-index: -1;
  max-width: 1024px;
  margin: 0 auto;
}

.textarea {
  display: block;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  min-height: 200px;
  height: 35vh;
  font-size: 20px;
  resize: vertical;
  color: white;
  outline-color: red;
  background: rgb(31, 31, 31);
  font-family: 'Roboto', sans-serif;
}

.keyboard {
  position: relative;
  z-index: -1;
  width: 100%;
  padding: 10px;
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(63, 7, 7) 33%, rgb(49, 49, 49) 100%);
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0 0 15px 1px rgba(255, 0, 0, 0.8);
}

.keyboard__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard__key {
  position: relative;
  width: 5%;
  max-width: 50px;
  height: 50px;
  margin: 3px;
  padding: 2px 6px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background: linear-gradient(0deg, #000, #262626);
  color: #f2f2f2;
  display: flex;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.25s;
}

.keyboard__key:hover {
  background: rgba(255, 0, 0, 0.5);
}

.keyboard__key:active {
  background: linear-gradient(0deg, #000, #262626);
  transition: 0.25s;
}

.keyboard__key:active::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 5px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  z-index: -1;
  transition: 0.25s;
  animation: active 20s linear infinite;
}

.keyboard__key:active::after {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000, #262626);
  transition: 0.25s;
}

.keyboard__key_md {
  width: 8%;
  max-width: 75px;
}

.keyboard__key_lg {
  width: 15%;
  max-width: 150px;
}

.keyboard__key_xl {
  width: 33%;
  max-width: 334px;
}

.active::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: 5px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000);
  background-size: 400%;
  z-index: -1;
  animation: active 20s linear infinite;
}

@keyframes active {
  0% {
    background-position: 0 0;
  }
  50.01% {
    background-position: 600% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.uppercase {
  text-transform: uppercase;
}

.info {
  max-width: 1024px;
  margin: 0 auto;
  margin-top: 30px;
  color: rgb(131, 15, 15);
  font-family: 'Roboto', sans-serif;
}